body {
    background-color: white;
    min-width: 320px;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
    width: 100%;
    overflow-x: hidden;
}

.nav-bg {
    opacity: 0.8;
    background-color: black;
}

.content {
    max-width: 980px;
    pointer-events: auto
}

.nav-item-box {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 25px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.ribbon {
    background-color: #f5f5f7;
    margin-top: 60px;
}

.ribbon-covid-19 {
    background-color: #f5f5f7;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ribbon-text {
    font-size: 14px;
}

@media screen and (max-width: 1333px) {
    .nav-item-box {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 1250px) {
    .nav-item-box {
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .nav-item-box {
        margin-left: 14px;
        margin-right: 14px;
        padding-left: 14px;
    }
}

@media screen and (max-width: 1160px) {
    .nav-item-box {
        margin-left: 12px;
        margin-right: 12px;
        padding-left: 12px;
    }
}

@media screen and (max-width: 1300px) {
    .nav-item-box {
        margin-left: 8px;
        margin-right: 8px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 1100px) {
    .nav-item-box {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 977px) {
    .nav-item-box {
        margin-left: 3px;
        margin-right: 3px;
        padding-left: 3px;
    }
}

.banner {
    background-color: black;
}

.banner-header-text {
    font-size: 54px;
    font-weight: 550;
    line-height: 1.07143;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.banner-text {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 6px;
}

.banner-links {
    display: inline-block;
    font-size: 18px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.banner-links-icons {
    font-size: 14px;
}

.banner-image {
    width: 100%;
}

.banners-header-text {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 470px;
    color: black;
    font-size: 54px;
    font-weight: 550;
    line-height: 1.07143;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.banners-text {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 337px;
    color: black;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.banners-sub-text {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 244px;
    color: #86868b;
    font-size: 17px;
    line-height: 1.07143;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.banners-links {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 175px;
    display: inline-block;
    font-size: 18px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.banner-image {
    height: 590px;
}

@media screen and (max-width: 735px) {
    .banner-text {
        font-size: 18px;
    }
    .banner-header-text {
        font-size: 32px;
    }
    .banner-links {
        font-size: 14px;
    }
    .banner-links-icons {
        font-size: 8px;
    }
    .banners-header-text {
        font-size: 32px;
        height: 438px;
        ;
    }
    .banners-text {
        font-size: 18px;
        height: 343px;
    }
    .banners-sub-text {
        font-size: 15px;
        height: 261px;
    }
    .banners-links {
        height: 186px;
        font-size: 15px;
    }
    .banners-image {
        height: 488px;
    }
}

@media (min-width:768px) {
    #mySidenav {
        display: none;
    }
}

/* hamburger menu for small devices */

.sidenav {
    height: 0;
    /* 100% Full-height */
    width: 100%;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    opacity: 0.8;
    background-color: black;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 7px;
    /* right: 25px; */
    font-size: 32px;
    margin-left: -19px;
}

.bag {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 36px;
    margin-left: 50px;
}

.apple-logo {
    position: absolute;
    top: -4px;
    right: 47%;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.search-bar {
    align-items: center;
    width: 93%;
    height: 5%;
    border-radius: 6px;
    background: #1d1d1d;
    font-size: 14px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border: 0px;
}

hr.hamburger-hr {
    border-top: 0.2px solid #343434;
}

/* navbar for md and xl devices */

@media (max-width:768px) {
    #navbar {
        display: none;
    }
}

.wrapper {
    background-color: black;
    text-align: center;
    margin-left: 10px;
}

.logo-wrapper {
    padding: 34px;
}

.wwdc-text {
    text-align: center;
    color: white;
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.wwdc-video {
    transform: scale(1.7);
    height: 367px;
}

.wwdc-logo-image {
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 49px;
    background-image: url(images/promo_tile_logo__fois684wh1ym_large.png);
}

.wwdc-link {
    font-size: 17px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.watch-logo {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 450px;
    height: 50px;
}

.watch-content {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.watch-text {
    height: 380px;
}

.watch-links {
    font-size: 17px;
    text-align: center;
    height: 307px;
}

.watch-header-content {
    margin-right: 10px;
}

.box-margin {
    margin-left: 10px;
}

.box-header-content {
    margin-right: 10px;
}

.box-logo {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 434px;
    height: 39px;
}

.tv-text {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.privacy-box-text {
    font-size: 37px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 53px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-left: 0px;
        margin-bottom: 13px;
    }
    .watch-header-content {
        margin-right: 0px;
    }
    .banners-image {
        height: 544px;
    }
    .wwdc-text {
        font-size: 18px;
    }
    .wwdc-video {
        height: 340px;
    }
    .box-margin {
        margin-left: 0px;
    }
    .box-header-content {
        margin-right: 0px;
    }
    .box-logo {
        height: 34px;
    }
    .tv-text {
        font-size: 32px
    }
    .privacy-box-text {
        font-size: 31px;
    }
}

.footer-bg {
    background-color: #f5f5f7;
}

.footer-head-text {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f5f5f7;
    color: #8a8a8a;
    overflow: hidden;
    position: relative;
}

.directory-column-section-head {
    font-size: 13px;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    margin-bottom: .8em;
}

.column-list {
    list-style: none;
    direction: rtl;
}

.column-list-item {
    color: #515154;
    text-decoration: none;
    font-size: 13px;
    padding: 7px;
}

.more-shop {
    font-size: 12px;
    color: #515154;
}

.copyright {
    font-size: 12px;
    color: #515154;
}

@media screen and (max-width: 768px) {
    .column-list {
        display: none;
    }
    .directory-column-section-head {
        font-weight: 100;
    }
    .section-hr {
        display: none
    }
    .wwdc-video {
        transform: scale(2.4);
    }
}

.list-items {
    position: absolute;
    right: 26px;
    font-size: 8px;
    color: #888888;
}

@media screen and (min-width: 768px) {
    .column-hr {
        display: none;
    }
    .list-items {
        color: #f5f5f7;
    }
}

/* bag */

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 290px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    margin-top: 26px;
    margin-left: -135px;
    border-radius: 17px;
}

.content-align {
    text-align: left;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    font-size: 15px;
    color: #06c;
    text-decoration: none;
    display: block;
}

.dropdown-content-sm {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    margin-top: 60px;
    width: 100%;
    position: fixed;
}

.bag-items-list {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content-align {
        font-size: 14px;
    }
}





/* imac page */

.imac-promo-title{
    font-size: 17px;
    color: #f56300;
    font-weight: 600;
    background: rgba(0,0,0,0);
    border-color: #bf4800;
}
.imac-header-text{
    color: black;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.imac-sub-text{
    font-size: 26px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.imac-price{
    color: black;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.buy-btn{
    width: 64px;
    border-radius: 20px;
    background-color: #0071e3;
    border-color: #0071e3;
}

@media screen and (max-width: 768px) {
    .imac-image{
        width: 100%;
    }
    .imac-header-text{
        font-size: 32px;
    }
    .imac-sub-text{
        font-size: 21px;
    }
}

/* imac page - product listing css */

/* headline font style */
.typography-headline {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


.product-listing{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
.tabnav-items{
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    overflow:hidden;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #6e6e73;
    
}
.tabnav-item{
    list-style: none;
    display:inline-block;
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 8px;
    cursor: pointer;
    
    
}
.product-trigger{
    color: #6e6e73;
    padding: .5em 2em;

}

@media screen and (max-width: 768px) {
    .product-listing{
        padding: 32px
    }
    .typography-headline{
        font-size: 32px;
    }
}

.product-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
}

.device-name{
    font-size: 22px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.019em;
}

.device-price{
    color: #565656;
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.device-colors{
    margin-top: -15px;
}

.device-buy-btn{
    font-size: 11px;
    margin-bottom: auto;
    padding-bottom: 20px;
    width: 46px;
    letter-spacing: 0.01em;
    border-radius: 20px;
    background-color: #0071e3;
    border-color: #0071e3;
    height: 23px;
}
.prduct-buy{
    border-bottom: 1px solid #d2d2d7;
    padding: 13px;
    padding-bottom: 27px;
}

@media screen and (max-width: 768px) {
    .product-image{
        width: 137px;
        margin-bottom: 33px;
    }
    .device-name{
        font-size: 19px;
        font-weight: 500;
    }
    .device-colors{
        margin-top: -12px;
    }
}



